.container{
    background-color: #9165f8;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    justify-content: space-between;
}
.title{
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
}
.buttons{
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
}
button{
    border: none;
    background-color: #080808;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}

.login{
    width: 70px;
    height: 35px;
}

.SignUp{
    width: 80px;
    height: 35px;
}
